<html>
    
<head>
    <title>Database Home</title>
    <link rel='stylesheet' href="style/view.css">
</head>

<script src="https://cdn.socket.io/4.6.0/socket.io.min.js"></script>
<script src="script/view.js"></script>

<body>
    <center>
        <h1>Database Views</h1>
        <input type="text" placeholder="Authorization Key" id="authKey">
    </center>
</body>

</html>